[defaults]
inventory            = inventory.yml
host_key_checking    = False
private_key_file     = ~/.ssh/id_ed25519
vault_password_file  = ~/.ansible-vault-pass
interpreter_python   = auto_silent
stdout_callback      = default
result_format        = yaml

[ssh_connection]
pipelining = True